.U_btn {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  background: #ffb700;
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  transition: all 360ms ease;
}
.U_btn:hover {
  color: #ffffff;
  background: #b78401;
}
.text_db_36 {
  font-size: 36px;
  font-weight: 600;
}
.u_text_26 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 0.8rem;
}
.update_logo {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.custom_update_item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.6rem;
}
.custom_logo img {
  width: 17rem;
  height: 6rem;
}
.custom_banner img {
  width: 40rem;
  height: 10rem;
}
.update_logo .file-input {
  height: 2.6rem;
  border-color: black;
}

.editProfilePhoneInput {
  padding: 0.25rem;
  border-radius: 0 !important;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border: 0 !important;
  width: 100% !important;
}

.editProfilePhoneInput:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.editProfilePhoneContainer {
  border-width: 2px;
  border-style: solid;
  border-color: #ffb700;
}

@media (max-width: 991px) {
  .update_logo {
    align-items: start;
    flex-direction: column;
    gap: 1rem;
  }
  .custom_logo img {
    width: 13rem;
    height: 4rem;
  }
  .custom_banner,
  .custom_logo {
    order: -1;
  }
  .custom_banner img {
    height: 10%;
  }
  .text_db_36 {
    font-size: 28px;
    font-weight: 600;
  }
}
